.icon-barber {
    width: 100%;
    height: 40vh;
}

.topo-tecnicos {
    margin-top: 8% !important;
}

.card-shadow {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(41, 104, 92);
    border: 1px solid rgba(0, 0, 0, 0.9);
}

.button-send {
    height: 2.2rem !important;
    width: 8rem;
    background: #2A7B9B;
    border: 0;
    box-shadow: 0 5px 12px rgb(30, 95, 77);
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(83, 237, 211, 1) 100%);
}

.button-cancel {
    background: #fa0c0c;
    background: linear-gradient(90deg, rgba(250, 12, 12, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    height: 2.2rem !important;
    width: 8rem;
    border: 0;
    box-shadow: 0 5px 12px rgb(30, 95, 77);
}

.card-title {
    border-radius: 12px 12px 0 0;
    background: linear-gradient(90deg, rgba(30, 91, 115, 1) 0%, rgba(68, 158, 106, 1) 50%, rgba(83, 237, 211, 1) 100%) !important;
}