.bg-image {
  background-image: url("../../assets/fundo.png");
  background-repeat: no-repeat;
  object-position: left;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.button-login {
  background: #2A7B9B;
  border:0;
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(83, 237, 211, 1) 100%);
}
.logo-signin {
  background-image: url('../../assets/logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
  margin: 0 auto;    
  width: 15vw;
  height: 30vh;
  border-radius: 50%;
}

.bg-form {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgb(41, 104, 92);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.9);

}

@media (max-width: 768px) {
  .bgImage {
    background-image: url("../../assets/fundo.png");
    /* Imagem otimizada para mobile */
    background-size: cover;
    /* Ajusta sem cortar */
    background-position: top center;
  }
  .logo-signin {
  background-image: url('../../assets/logoAns.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
  padding: 3px;
  display: flex;
  width: 50vw;
  height: 40vh;
  border-radius: 50%;
}
}

.eye-style {
  font-size: 1.3rem;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #7b7e80;
}